.elements__delete-button {
  top: 20px;
  right: 20px;
  height: 19px;
  width: 18px;
  cursor: pointer;
  position: absolute;
  background-image: url(../../../images/);
  border: none;
  background-color: #000000;
}

.elements__delete-button:hover {
  opacity: 0.6px;
}