.profile__author-info {
  max-width: 336px;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: 'Inter', 'Arial', sans-serif;
  overflow: hidden;
}

@media screen and (max-width: 900px) {
  .profile__author-info {
    max-width: 189px;
    margin-top: 0;
    margin-bottom: 33px;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
  }
}