.popup__title {
  margin: 31px 0 54px 0;
  padding-left: 36px;
  padding-right: 36px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
}

@media screen and (max-width: 500px) {
  .popup__title {
    margin-top: 25px;
    font-size: 18px;
    line-height: 22px;
    padding-right: 22px;
    padding-left: 22px;
  }
}

