.popup__input-error_active {
  visibility: visible;
  opacity: 1;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
  display: flex;
  margin-top: 3px;
}